body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./produtos/fundo\ principal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}


header {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.nav_botoes {
  width: 100%;
}

.botoes {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botoes li a {
  text-decoration: none;
  color: #ffffff;
  font-weight:bolder;
  transition: 0.3s;
}

.botoes li a:hover {
  color: #ffffff;
}


@media(min-width:320px) and (max-width: 374px){
  header {
    width: 31%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #d1a666f0;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: -5px;
  }
  
  main.caixa-entrada {
    margin-left: 31%;
    padding: 20px;
  }


  .logo{
    max-width: 150px;
    border-radius: 100px;
    box-shadow: 0 10px 15px #d1a666f0;
    display: block;
    margin: 0 auto;
    border: 2px solid #d1a666f0;
    margin-top: -8px;
  }

  .bem-vindos{
    font-size: 20px;
    text-align: center;
    color: #000000;
    background-color: #d1a666f0;
    box-shadow: 0 4px 12px #d1a666f0;
    max-width: 104px;
    border-radius: 20px;
    padding: 3px;
    display: block;
    margin:0 auto;
    margin-top: 5px;
    font-family: "Smooch Sans", sans-serif;
    
  }

  .texto{
    font-size: 13px;
    background-color: #d1a666f0;
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    font-family: "Bricolage Grotesque", sans-serif;

  }
   .video{
    max-width: 170px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    border:2px solid #d1a666f0;


   }
   .video2{
    max-width: 170px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    border:2px solid #d1a666f0;

   }

  .nav_botoes {
    width: 100%;
    height: auto;
    padding: 10px ;
  }

  .botoes {
    margin-top: 30px;
    flex-direction:column;
    align-items: center;
    gap: 25px ;
  }

  .botoes li a {

    font-size: 14px;
    display: block;
    width: 100%;
    color: #f8f4f4;
    background-color: #794e0f;
    box-shadow: 0 1px 12px #edd9e4;
    text-align: center;
    padding: 2px 4px ;
    border-radius: 20px;
    font-family: "Instrument Serif", serif;
  }
  .menu{
    max-width: 55px;
    font-size: 20px;
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;

  }
  .contatos{
    max-width: 70px;
    font-size: 20px;
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;
  }


}

@media (min-width: 375px) and (max-width: 424px){
  header {
    width: 31%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #d1a666f0;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: -5px;
  }
  
  main.caixa-entrada {
    margin-left: 31%;
    padding: 20px;
  }

  .logo{
    max-width: 160px;
    border-radius: 100px;
    box-shadow: 0 8px 15px #d1a666f0;
    display: block;
    margin: 0 auto;
    border: 2px solid #d1a666f0;
  }

  .bem-vindos{
    font-size: 20px;
    text-align: center;
    color: #000000;
    background-color: #d1a666f0;
    box-shadow: 0 4px 12px #d1a666f0;
    max-width: 104px;
    border-radius: 20px;
    padding: 5px;
    display: block;
    margin:0 auto;
    margin-top: 10px;
    font-family: "Smooch Sans", sans-serif;
    
  }

  .texto{
    font-size: 15px;
    background-color: #d1a666f0;
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
   .video{
    max-width: 210px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border:2px solid #d1a666f0;


   }
   .video2{
    max-width: 210px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border:2px solid #d1a666f0;
   }

  .nav_botoes {
    width: 100%;
    height: auto;
    padding: 10px ;
  }

  .botoes {
    margin-top: 30px;
    flex-direction:column;
    align-items: center;
    gap: 25px ;
  }

  .botoes li a {

    font-size: 17px;
    display: block;
    width: 100%;
    color: #f8f4f4;
    background-color: #794e0f;
    box-shadow: 0 1px 12px #edd9e4;
    text-align: center;
    padding: 2px 4px ;
    border-radius: 20px;
    font-family: "Instrument Serif", serif;
  }
  .menu{
    max-width: 55px;
    font-size: 20px;
    color: #000000;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;

  }
    .contatos{
    max-width: 80px;
    font-size: 20px;
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;
  }
}


@media(min-width: 425px) and (max-width: 767px){
  header {
    width: 31%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #d1a666f0;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: -5px;
  }
  
  main.caixa-entrada {
    margin-left: 31%;
    padding: 20px;
  }
  .logo{
    max-width: 160px;
    border-radius: 100px;
    box-shadow: 0 8px 15px #d1a666f0;
    display: block;
    margin: 0 auto;
    border: 2px solid #d1a666f0;
  }

  .bem-vindos{
    font-size: 22px;
    text-align: center;
    color: #000000;
    background-color: #d1a666f0;
    box-shadow: 0 4px 12px #d1a666f0;
    max-width: 104px;
    border-radius: 20px;
    padding: 5px;
    display: block;
    margin:0 auto;
    margin-top: 10px;
    font-family: "Smooch Sans", sans-serif;
    
  }

  .texto{
    font-size: 15px;
    background-color: #d1a666f0;
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
   .video{
    max-width: 215px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border:2px solid #d1a666f0;

   }
   .video2{
    max-width: 215px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border:2px solid #d1a666f0;
   }

  .nav_botoes {
    width: 100%;
    height: auto;
    padding: 10px ;
  }

  .botoes {
    margin-top: 30px;
    flex-direction:column;
    align-items:center;
    gap: 25px ;
  }

  .botoes li a {

    font-size: 17px;
    display: block;
    width: 100%;
    color: #f8f4f4;
    background-color: #794e0f;
    box-shadow: 0 1px 12px #edd9e4;
    text-align: center;
    padding: 2px 4px ;
    border-radius: 20px;
    font-family: "Instrument Serif", serif;
  }
  .menu{
    max-width: 55px;
    font-size: 22px;
    color: #000000;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;

  }
  .contatos{
    max-width: 90px;
    font-size: 22px;
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;
  }
}


@media(min-width: 768px){
  header {
    width: 31%;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #d1a666f0;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: -5px;
  }
  
  main.caixa-entrada {
    margin-left: 31%;
    padding: 20px;
  }

  .logo{
    max-width: 200px;
    border-radius: 100px;
    box-shadow: 0 8px 15px #d1a666f0;
    display: block;
    margin: 0 auto;
    border: 2px solid #d1a666f0;
  }

  .bem-vindos{
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: #d1a666f0;
    box-shadow: 0 4px 12px #d1a666f0;
    max-width: 145px;
    border-radius: 20px;
    padding: 5px;
    display: block;
    margin:0 auto;
    margin-top: 15px;
    font-family: "Smooch Sans", sans-serif;
    
  }

  .texto{
    font-size:23px;
    text-align: center;
    background-color: #d1a666f0;
    color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
   .video{
    max-width: 300px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border:2px solid #d1a666f0;

   }
   .video2{
    max-width: 300px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border:2px solid #d1a666f0;
   }

  .nav_botoes {
    width: 100%;
    height: auto;
    padding: 10px ;
  }

  .botoes {
    margin-top: 30px;
    flex-direction:column;
    align-items: center;
    gap: 25px ;
  }

  .botoes li a {

    font-size: 22px;
    display: block;
    width: 100%;
    color: #f8f4f4;
    background-color: #794e0f;
    box-shadow: 0 4px 12px #edd9e4;
    text-align: center;
    padding: 2px 4px ;
    border-radius: 20px;
    font-family: "Instrument Serif", serif;
  }
  .menu{
    max-width: 100px;
    font-size: 35px;
    color: #000000;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;

  }
  .contatos{
    max-width: 100px;
    font-size: 35px;
    color: #000000;
    padding: 2px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    font-family: "Smooch Sans", sans-serif;
  }
}
